@use '../../../styles.scss' as global;

main{
    display: flex;
    gap: 2%;
    margin: auto;
           height: 50%;
        width: 50%;

    .cadastro{
        background-color: global.$Principal;
        display: flex;
        flex-direction: column;
        padding: 1% 5% 1% 5%;

        #gravar{
            background-color: greenyellow;
            cursor: pointer;
        }
        #cancelar{
            background-color: orangered;
            cursor: pointer;
        }

        
    }
    .lista{
        background-color: global.$Principal;
        padding: 1% 5% 1% 5%;
    }
}
